<h1>Action Tracker</h1>

<ul>
<li><%= link_to 'Log Action', users_path %></li>
<li><%= link_to 'Analyse Action', action_lists_path %></li>
<li><%= link_to 'Add Action', new_action_list_path %> </li>
<li><%= link_to 'Add User', new_user_path %></li>
</ul>
